.fondo{
    -fx-background-color: #43425D;
}

.labels{
    -fx-border-color: #fff;
    -fx-border-radius: 5px;
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
}

.labels:hover{
    -fx-border-color: #3B86FF;
}

.botones{
    -fx-background-color: #3B86FF;
}

.botones:hover{
    -fx-font-size: 16px;
}

.cerrar{
    -fx-background-image: url("../../images/cancel_32.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-size: 28px;
}

.combo-box{
    -fx-background-color: #fff;
    -fx-border-radius: 5px;
}