/*Fuente para los textos en Botones*/
.tipografia{
    -fx-font-family: "Source Sans Pro";
}

/* --------------------------------------------------------------------------------------- */
/* ACA ESTAN LOS ESTILOS DEL PANEL QUE ESTARA EN EL MENU INICIAL*/

.empPanel{
    -fx-pref-width: 1340px;
    -fx-pref-height: 890px;
    -fx-background-color: #f0eef7;
}

.emptarjeta{
    -fx-pref-width: 281px;
    -fx-pref-height: 273px;
    -fx-background-color: #3B86FF;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0 );
}

.emptarjeta:hover{
    -fx-background-color: #274e9c;
}

.emptarjeta:pressed{
    -fx-background-color: #3C3B54;
}


.empbotonver{
    -fx-background-color: #295eb2;
    -fx-pref-width: 160px;
    -fx-pref-height: 50px;
    -fx-text-fill: white;
    -fx-border-radius: 8px;
}

.radiobuttonNewProd{
    -fx-background-color: Tranparent;
    -fx-border-color: none;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0 );
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
}

.radiobuttonNewProd:hover{
    -fx-background-color: #4185a0;
}

.radiobuttonNewProd:pressed{
    -fx-background-color: #3C3B54;
}

/*aca estara todo los estilos para los empledos*/

.empleadoscard{
    -fx-pref-whidth: 570px;
    -fx-pref-height: 160.35px;
    -fx-background-color: white;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.4), 9, 0.5, 0.0, 0.0 );
    -fx-border-radius: 6px;
}

.empleadoscard:hover{
    -fx-background-color: rgb(244, 243, 240);
    -fx-font-family: "Source Sans Pro";
}