
.search{
    -fx-border-width: 1px;
    -fx-border-color: #BDBDBD;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.search:hover{
    -fx-border-color: #3B86FF;
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-background-radius: 15px;
}

.boton-search{
    -fx-background-image: url("../../images/search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 28px 28px;
    -fx-background-color: #fff;
}

.fondo{
    -fx-background-color: #f0f0f7;
    -fx-text-fill:  #aaadba;
}

.fondo2{
    -fx-background-color: #fff;
}

.boton-add{
    -fx-font-size: 16px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-background-image: url("../../images/add24px.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-background-size: 25px 25px;
}
.boton-add:hover{
    -fx-font-size: 20px;
    -fx-background-color: #3B86FF;
    -fx-text-fill: #fff;
    -fx-background-size: 30px 30px;
}

.boton-ver{
    -fx-font-size: 16px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}
.boton-ver:hover{
    -fx-font-size: 20px;
    -fx-background-color: #3B86FF;
    -fx-text-fill: #fff;
    -fx-background-image: url("../../images/eye24px.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-background-size: 25px;
}

.boton-edit{
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/edit.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.boton-edit:pressed, .boton-actualizar, .boton-search:pressed{
    -fx-background-color: #fff;
}

.boton-edit:hover{
    -fx-background-image: url("../../images/edit1.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.boton-delete{
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/icons8_delete_50px_1.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.boton-delete:hover{
    -fx-background-image: url("../../images/icondelete.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.boton-delete:pressed{
    -fx-background-color: #fff;
}

.boton-mini{
    -fx-font-size: 12px;
    -fx-background-color: #BDBDBD;
    -fx-text-fill: #fff;
}

.boton-mini:hover{
    -fx-font-size: 16px;
    -fx-background-color: #3B86FF;
}

.boton-actualizar{
    -fx-background-color: #fff;
    -fx-background-image: url("../../images/icon_process1.png");
    -fx-background-size: 28px 28px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.boton-actualizar:pressed{
    -fx-background-color: #fff;
}

.boton-actualizar:hover{
    -fx-background-image: url("../../images/icon_process.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.label-disponibilidad{
    -fx-background-color: #cfffcc;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
    -fx-background-radius: 10px;
    -fx-text-fill:  #677f66;
}

.Paneles{
    -fx-background-color: #fff;
    -fx-border-color: #fff;
}

.Paneles:hover{
    -fx-background-color: #f0f0f7;
}